Missing XMPP RFCs?

Can you add all missing XMPP RFCs?

Last in time: https://tools.ietf.org/html/rfc8600.

https://xmpp.org/rfcs/ now features a list of (hopefully) all XMPP related RFCs. This issue can be closed.

@cal0pteryx: RFC 4979 and RFC 8048 are missing.

Note: Obsolete or Updated RFCs are always not updated on XMPP.org.

Example:
- https://xmpp.org/rfcs/rfc3920.html
```
NOTHING
```
VS
- https://datatracker.ietf.org/doc/rfc3920/
```
Obsoleted by RFC 6120
Updated by RFC 6122
```

That's wrong. Both https://xmpp.org/rfcs/#4979 and https://xmpp.org/rfcs/#8084 _are_ listed at https://xmpp.org/rfcs/

Note that RFC documents _hosted_ on xmpp.org may not be up to date, and probably never will be. What we do instead: We link to all XMPP-related RFCs hosted on https://datatracker.ietf.org/ which always offers the newest version for each RFC.

This issue can be closed.

@cal0pteryx: There is a mistake! ;)
I speak about "RFC 8048", not "RFC 8084" like you.
You must to replace by the good one.

Strange, about RFC 4979, maybe I have not done the good search.

It is needed to update XMPP.org RFC files, people have not informations here about the information about obsolete/update.

RFC 8084 was indeed a twisted number. I've replaced it by RFC 8048 in https://github.com/xsf/xmpp.org/commit/edb1abc8f0fd7b1d11e97627f25cb12704648baa

RFCs hosted at xmpp.org are there for historic purposes. By default, we link to datatracker.ietf.org. As I said, these RFC documents hosted at xmpp.org will probably never be updated.